* {
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  text-align: center;
  background-color: rgb(239, 242, 245);
}
h1 {
  color: salmon;
}
h2 {
  color: green;
}
input {
  width: 300px;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.meals-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.meal-card {
  flex: 1 0 20%;
  min-width: 180px;
  max-width: 280px;
  border: 2px solid salmon;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
img {
  border-radius: 10px;
  width: 90%;
}
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}
